<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- 引入Vue -->
     <script src="../js/vue.js"></script>
     <!-- 计算属性：
        1.定义：要用的属性不存在，要通过已有的属性计算得来
        2. 原理：底层借助了 Object.defineProperty方法提供getter和setter
        3.计算属性最终出现在vm上，直接读取使用即可
        4.如果计算属性要修改，必须写set函数去响应修改，且set中要引起计算时依赖的数据发生改变-->
</head>
<body>
    <div id="root">
       姓：<input type="text" v-model="firstName"><br><br>
       名：<input type="text" v-model="lastName"><br><br>
       <!-- slice截取 -->
        全名：<span>{{fullName}}</span>
    </div>

    <script>
       const vm = new Vue({
            el:'#root',
            // data属性需要this访问
            data:{
                firstName:'张',
                lastName:'三'
            },
            // computed计算属性
           computed:{
            fullName:{
                // get作用：有人读取fullName，get就会被调用，且返回值就作为fullName的值
                // get的调用：1.初次读取fullName时，2.所依赖的数据发生变化时
                get(){
                    console.log('get被调用');
                   // console.log(this);此处的this是vm
                    return this.firstName + '-' + this.lastName
                },
                // set调用：当fullName被修改时
                set(){
                    console.log('set',value);
                    const arr = value.split('-')//对value使用了split方法拆分成数组
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            }
           }
        })
    </script>
</body>
</html>